body{
    padding: 0;
    margin: 0;
    background: linear-gradient(#e66465, #9198e5) ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: linear-gradient(rgb(175, 238, 244),#32f29f);
    width: 35rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.displayResult{
    border: solid black 2px;
    width: 20rem;
    height: 15rem;
    display: flex;
}
.user_details{
    border: solid black 2px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details{
    margin: .5rem;
}